.custom-modal {
    /* position: fixed; */
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0; */
    background-color: transparent; 
    width: 100%;
    height: 100%;
    margin: 0px;
    min-width: 100vw;
  }
  
  .custom-modal .modal-content {
    height: 100%;
    border: 2px solid white;
    border-radius: 10px;
    width: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.261);
    margin: 0px;
    min-width: 100vw !important; 
    margin: auto;
  }
  
  .custom-modal .modal-dialog {
    width: 100%;
    display: block;
    background: red;
    margin: 0px;
    min-width: 100vw !important;
    height: 100%;
  }
  
  .gallery-modal .modal-content{
    background-color: transparent;
    border: 0px solid white;
    backdrop-filter: blur(1px);
  }
  .image-gallery-img{
    backdrop-filter: blur(1px);
  }