*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary : #ab0c2f;
    --light: #F1F2FD;
    /* --eduact-font: 'Urbanist', sans-serif; */
    --eduact-font: '__Roboto_10f679', '__Roboto_Fallback_10f679';
    --heading-font: 'Urbanist', sans-serif;
    --eduact-text: #000;
    --eduact-text-rgb: 105, 117, 133;
    --eduact-text2: #B3ADE1;
    --eduact-text2-rgb: 179, 173, 225;
    --eduact-grey: #B7B0B4;
    --eduact-grey-rgb: 183, 176, 180;
    --eduact-soft: #F1F2FD;
    --eduact-soft-rgb: 241, 242, 253;
    --eduact-soft2: #F6F5F5;
    --eduact-soft2-rgb: 246, 245, 245;
    --eduact-soft3: #E0E3FD;
    --eduact-soft3-rgb: 224, 227, 253;
    --eduact-soft4: #E4E4E4;
    --eduact-soft4-rgb: 228, 228, 228;
    --eduact-soft5: #F6F6F6;
    --eduact-soft5-rgb: 246, 246, 246;
    --eduact-base: #4F5DE4;
    --eduact-base-rgb: 79, 93, 228;
    --eduact-secondary: #ab0c2f;
    --eduact-secondary-rgb: 245, 112, 5;
    --eduact-black: #2A254D;
    --eduact-black-rgb: 42, 37, 77;
    --eduact-black2: #000000;
    --eduact-black2-rgb: 0, 0, 0;
    --eduact-white: #ffffff;
    --eduact-white-rgb: 255, 255, 255;
    --purple: #ab0c2f;
}






body{
    font-family: var( --eduact-font) !important;
    letter-spacing: 1.3px !important;
}
a{
    text-decoration: none !important;
      font-family:var(--eduact-font);
   
}

h5{
    font-family: var(--eduact-font);
}
h2{
    font-size: 40px;
    font-family: var(--eduact-font);

}
@media (max-width: 767px){
    h2{
        font-size: 24px;
    }
}
.bg-grey{
    background-color: #efefef;
}
.bg-white{
    background: #ffffff !important;
}
.text-primary{
    color: var(--primary) !important;
}
.bg-primary{
    background-color: var(--primary) !important;
}
.border-color-primary{
    border-color: var(--eduact-base) !important;
}
.text-secondary{
    color: var(--eduact-secondary) !important;
}
.bg-secondary{
    background-color: var(--eduact-secondary) !important;
}
.text-soft1{
    color: var(--eduact-soft) !important;
}
.bg-soft1{
    background-color: #004f76 !important;
}
.fs-10{
    font-size: 10px;
}
.fs-12{
    font-size: 12px;
}
.fs-14{
    font-size: 14px;
}
.fs-16{
    font-size: 16px;
}
.fs-18{
    font-size: 18px;
}
.fs-20{
    font-size: 20px;
}
.fs-30{
    font-size: 30px;
}
.fs-40{
    font-size: 40px;
}
.fs-50{
    font-size: 50px;
}
.fs-60{
    font-size: 60px;
}
.list-style-none{
    list-style: none;
}
.cursive{
    font-style: italic;
}
.border-bottom-doted{
    border-bottom-width: 1px;
    border-bottom-style: dashed !important;
}
.border-color-secondary{
    border-color: var(--eduact-secondary) !important;
}
.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 1200px){
    .fs-lg-12{
        font-size: 12px;
    }
    .fs-lg-14{
        font-size: 14px;
    }
    .fs-lg-16{
        font-size: 16px;
    }
    .fs-lg-18{
        font-size: 18px;
    }
    .fs-lg-20{
        font-size: 20px;
    }
    .fs-lg-30{
        font-size: 30px;
    }
    .fs-lg-36{
        font-size: 36px;
    }
    .fs-lg-40{
        font-size: 40px;
    }
    .fs-lg-50{
        font-size: 50px;
    }
}
@media (max-width: 992px){
    .fs-md-12{
        font-size: 12px;
    }
    .fs-md-14{
        font-size: 14px;
    }
    .fs-md-16{
        font-size: 16px;
    }
    .fs-md-18{
        font-size: 18px;
    }
    .fs-md-20{
        font-size: 20px;
    }
    .fs-md-30{
        font-size: 30px;
    }
    .fs-md-36{
        font-size: 36px;
    }
    .fs-md-40{
        font-size: 40px;
    }
}
@media (max-width: 768px){
    .fs-sm-12{
        font-size: 12px;
    }
    .fs-sm-14{
        font-size: 14px;
    }
    .fs-sm-16{
        font-size: 16px;
    }
    .fs-sm-18{
        font-size: 18px;
    }
    .fs-sm-20{
        font-size: 20px;
    }
}
.ls-2{
    letter-spacing: 2px;
}
.text-justify{
    text-align: justify;
}
.ws-6{
    word-spacing: 6px;
}





/* subtitle style  */
.subtitle-svg{
    width: 50px;
    fill: var(--eduact-secondary);
} 

/* banner style  */
.banner-wrapper{
    background: url('/assets/img/banner-bg.png');
}
.banner-img{
    right: -100px;
}

/* service section home page style  */
.view-all-btn{
    background: var(--eduact-secondary) !important;
    font-size: 20px;
    padding: 10px 20px; 
}


.courses-img-wrap img, .courses-courseName a, .courses-card-box{ 
    transition: .5s;
}
.courses-courseName a{
    border-bottom-color: transparent;
    border-bottom-width: 1px;
    border-bottom-style: solid; 
    color: #000000;
    font-size: 20px;
}
.courses-img-wrap{
    width: 70px;
    height: 70px;
    transform: translate(-20px, -50%);
    border: 3px solid #ab0c2f;
    overflow: hidden;
    padding: 3px;
} 
.courses-img-wrap {
    background-color: 5px solid var(--eduact-base) !important;
}
.course-duration{
   padding: 10px;
    background: #004f76;
    border-radius: 10px;
}
.course-duration p, h5{
    color: #fff;
}
.courses-card-wrapper:hover .courses-card-box{
    border-color: var(--eduact-secondary) !important;
} 
.courses-card-wrapper:hover .courses-img-wrap img{
    transform: scale(1.2);
} 
.courses-card-wrapper:hover .courses-courseName a{ 
    border-bottom-color : var(--eduact-secondary);
} 
.courses-courseName a:hover{
    color: var(--eduact-secondary);
} 

/* courses review css  */
.courses-review-wrapper .slick-prev{
    /* position: absolute; */
    top: 90% ;
    left: 89% ;
    width: 40px;
    height: 40px;
    z-index: 1;
}
.courses-review-wrapper .slick-next{
    /* position: absolute; */
    top: 90% ;
    right: 0% ;
    width: 40px;
    height: 40px;
    z-index: 1;
}

.courses-review-wrapper .slick-prev::before, .courses-review-wrapper .slick-next::before{
    background-color: var(--eduact-base);
    padding: 4px;
}

@media (max-width: 1200px){
    .courses-review-wrapper .slick-prev{
        left: 85%;
    }
    .courses-review-wrapper .slick-next{ 
        right: 0px;
    }
}

@media (max-width: 992px){
    .courses-review-wrapper .slick-prev{
        top: 100%;
        left: 0px;
    }
    .courses-review-wrapper .slick-next{
        top: 100%;
        right: 0px;
    }
}


/* newsletter style  */
.newsletter-wrap{
    background: url('/assets/img/newsletter-bg.jpeg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%; 
}

/* blogs and notice board  */
.blog-card-wrap{
    margin-bottom: 100px !important;
}

.blog-slider-wrap .slick-next, .blog-slider-wrap .slick-prev{ 
    top: 0% ;
    width: 40px;
    height: 40px;
    z-index: 1;
}
.blog-slider-wrap .slick-next{
    right: 50% ;
    transform: translate(100%, -100%);
}
.blog-slider-wrap .slick-prev{
    left: 50% ;
    transform: translate(-100%, -100%) !important;
}
.blog-slider-wrap .slick-prev::before, .blog-slider-wrap .slick-next::before{
    background-color: var(--eduact-base);
    padding: 4px;
}
.blog-slider-wrap .slick-next, .blog-slider-wrap .slick-prev{
    display: none !important;
}

/* cta style  */
.cta-wrapper{
    background: url('/assets/img/cta-bg-1.jpeg');
    background-repeat: no-repeat;
    background-position: bottom;
}
@media(max-width:768px){
    .cta-wrapper{
        background-size: cover;
    }
}

/* testimonial style  */
.testimonial-wrapper .slick-slide {
    transition: .8s;
    position: relative;
    bottom: 0px;
}
.testimonial-wrapper .slick-current{ 
    bottom: 50px;
}
.testimonial-wrapper .slick-next, .testimonial-wrapper .slick-prev{ 
    top: 95% ;
    width: 40px;
    height: 40px;
    z-index: 1;
}
.testimonial-wrapper .slick-next{
    right: 50% ;
    transform: translate(100%, -100%);
}
.testimonial-wrapper .slick-prev{
    left: 50% ;
    transform: translate(-100%, -100%) !important;
}
.testimonial-wrapper .slick-prev::before, .testimonial-wrapper .slick-next::before{
    background-color: var(--eduact-base);
    padding: 4px;
}
.testimonial-slider-wrap{
    margin-top: 100px;
}
.testimonial-wrapper .slick-slider.slick-initialized{
    border: 1px solid #c5bbbb;
    border-radius: 8px;

}

/* animation style  */
.bounce-animate{ 
    animation-name: BounceMove;
    -webkit-animation-name: BounceMove;
    animation-duration: 4s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes BounceMove{
    0%{
        top: -10px !important;
    }
    50%{
        top: 30px !important;
    }
    100%{
        top: -10px !important;
    }
}
.bounce-animate-bottom{ 
    animation-name: BounceMove;
    -webkit-animation-name: BounceMove;
    animation-duration: 3s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 1s;
}
@keyframes BounceMove{
    0%{
        bottom: -10px;
    }
    50%{
        bottom: 30px;
    }
    100%{
        bottom: -10px;
    }
}
.scale-animate{

    animation-name: ScaleAnimation;
    -webkit-animation-name: ScaleAnimation;
    animation-duration: 6s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes ScaleAnimation{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

.side-move-animate{
    animation-name: SideMoveAnimation;
    -webkit-animation-name: SideMoveAnimation;
    animation-duration: 5s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes SideMoveAnimation{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(10deg);;
    }
    100%{
        transform: rotate(0deg);;
    }
}
.rounded-animate{
    animation-name: roundedMove;
    -webkit-animation-name: roundedMove;
    animation-duration: 12s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes roundedMove{
    from{
        transform: rotate(0deg);
    } 
    to{
        transform: rotate(360deg);;
    }
}

/* blog style  */
.blog-link{
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--eduact-secondary);
    width: 40px;
    height: 40px;
    transition: .3s;
}
.blog-link i{
    transition: .3s;
    color: var(--eduact-secondary);
}
.blog-link:hover{
    background-color: var(--eduact-secondary);
}
.blog-link:hover i{
    color: #ffffff;
}
.blog-author-img{
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
}

.blog-sidebar-img-wrapper{
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 8px;
}
.blog-search-input{
    border: 0px;
    background-color: transparent;
    color: #ffffff;
}
.blog-search-input:focus{
    border: 0px;
    outline: 0px;
    color: #ffffff;
}
.blog-search-input::placeholder{
    color: #ffffff;
}
.blog-search-wrapper{
    border-radius: 8px;
    height: 80px;
    padding-left: 30px;
}

.blog-image-link-wrapper{
    overflow: hidden;
}
.blog-hover-wrapper{
    top: -50%;
    transition: .3s;
    background-color: #00000055;
    opacity: 0;
}
.blog-image-link-wrapper:hover .blog-hover-wrapper{
    top: 0px;
    opacity: 1;
}

/* footer  */
.social-icon-box{
    padding: 15px 15px!important;
    /* display: flex;
    align-items: center; */
    /* justify-content: center; */
    /* border: 1px solid #4F5DE4; */
    border-radius: 50%;
    transition: .3s;
}

.fa-brands.fa-facebook-f.text-white.facebookcircle.facebook-icon {
    padding: 15px 18px;
    border-radius: 50%;
}
.facebook-icon{
    background-color: #3b5998;
}
.linkedin-icon{
    background-color: #007bb6;

}
.instagram-icons{
background-color: rgba(214, 41, 118, 1);
}
.twitter-icons{
background-color: #000000;
}
.youtube-icons{
    background-color: #bb0000;

}


/* course drop  */
.course-drop-wrap .dropdown-bg{
   background: #004f76 !important
}

.course-drop-wrap  a.Common-menu-items{
    color: #fff !important;
    font-family: var(--eduact-font);
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 2;
    transition: 0.5s;
 }
 .course-drop-wrap  a.Common-menu-items i{
    color: #fff !important;
   
 }
 .course-drop-wrap  a.Common-menu-items:hover{
   margin-left:4px;
   
 }
.course-drop-wrap{
    display: none !important;
   
    position: absolute;
    top: 100%;
    width: 700px; 
    padding-top: 10px;  
}
.course-drop-btn:hover .course-drop-wrap{
    display: block !important;
}
@media (max-width: 991px) {
    .course-drop-wrap{
        /* display: block !important; */
        position: static; 
        width: 100%;
        padding-top: 10px; 
        height: 100% ;
        overflow: hidden; 
    }
    .course-drop-btn:hover .course-drop-wrap{
        /* display: block !important; */
        height: 100%;
        padding-top: 10px;
    }
}

/* faq style  */
.faq-list-wrap li{
    position: relative;
}
.faq-list-wrap p{
    margin-left: 25px; 
  }

  .faq-list-wrap p span{
    font-weight: 700;
  }
  .faq-icon{
    position: absolute;
    left: 0;
    top: 3px;
    width: 18px;
    height: 18px;
    background-color:#ab0c2f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: var(--eduact-white);
  }

  .review-sec .slick-slide{
   
    background: #fff;
    box-shadow: 0px 6px 7px #b2aeae;
    padding: 20px;
    border-radius: 20px;
   
  }
  .review-sec .review-box h5{
   color: #ab0c2f;
  }
  .review-sec .review-box p{
    color: #000;
    font-size:16px;
    font-style: italic;
    line-height: 1.5;
   }



   @media (min-width:200px) and (max-width:568px) {
    .course-drop-wrap .dropdown-bg{
        background: white !important
     }
     
     .course-drop-wrap  a.Common-menu-items{
         color: black !important;
        
      }
      .course-drop-wrap  a.Common-menu-items i{
         color: black !important;
        
      }
    
   }